@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Light-300_0.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Regular-400_0.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-SemiBold-600_0.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Bold-700_0.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-ExtraBold-800_0.otf) format('opentype');
  font-weight: 800;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 5rem;
/* Adjust value as needed for your fixed header height */
}
html, body {
  height: 100%;
}

body{
color:white;
    font-family: Helvetica, serif;
font-style: normal;
   /** background-attachment: fixed; **/
  margin:0;
  position:relative;
  z-index: 0;
  display:flex;
  flex-direction:column;

}

a{
  text-decoration:none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #335FFF 0%, #CE162E 100%);
  z-index: -1;
}

h1 {
  font-family: 'Builder Extended',sans-serif;
  font-weight: 800;
  font-size:3.5rem;
  text-align:center;
}

#title{
  margin-top: 2rem;
  margin-bottom:0;
}

#subtitle{
  margin-top:0;
  margin-bottom:2rem;
}

#subtitle2{
  margin-top:0;
  margin-bottom:2rem;
}

h2{
    font-family: 'Builder Extended',sans-serif;
    font-weight: 600;
    font-size:1.4rem;
    text-align:center;
}

h3{
    font-family:Helvetica, sans-serif, arial;
    font-weight: 400;
    text-align:center;
}
p{
  font-size:1.2rem;
}

#container{
  padding:1.5em;
  flex:1;
}




/** footer **/
footer {
  background-color: #ffffff;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Builder Extended', sans-serif;
  font-size: 1.4rem;
  padding: 20px 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
   transition-property: color;
    transition-duration: 0.5s;
}

.footer-link:hover{
  color: #CE162E;
}


.footer-link img {
  width: 50px;
  display: block;
}

footer .btn {
  margin: 0;
}

/** footer end **/

/** cta **/
.cta {
  font-family: Helvetica, sans-serif;
  font-style:oblique;
  font-size: 1.8rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  align-items:center;
}

.cta_container{
background-color: #CE162E;
box-shadow:5px 5px #910e1f;
border-radius:20px;
color:white;
padding:30px;
margin:0;
text-decoration:none;
transition-property: transform;
    transition-duration: 0.5s;
    margin-bottom: 2em;
    height:83%;
}
.cta_container h2{
  margin:20px;
  margin-top:-10px;
}

.cta_deco{
  text-decoration:none;
  color:white;
  text-align: center;
}

.cta_container:hover{
  background-color: #CE162E;
box-shadow:5px 5px #910e1f;
transform: scale(1.05);
}

/** cta end **/

.responsive-img {
width: 100%;
height: auto;

}

#flex{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}


/** button **/
.btn {
    color: white;

    background-color:#335FFF;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    transition-property: transform, box-shadow, background-color;
    transition-duration: 0.5s;  
    font-size: 1.4rem;
    padding:0.5em;
    padding-left:2em;
    padding-right:2em;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.457);

}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.457);
    transform: translateY(-5px);
    background-color: #CE162E;
}

.btn2 {
    color: black;

    background-color:white;
    border-color:#335FFF;
   border-style: solid;
    border-width: 2px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    transition-property: transform, box-shadow, background-color;
    transition-duration: 0.5s;  
    font-size: 1.4rem;
    padding:0.5em;
    padding-left:2.8em;
    padding-right:2.8em;
    margin-top:20px;
    margin-bottom:20px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.457);

}
.btn,
.btn2 {
  margin: 20px;
}

.btn2:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.457);
    transform: translateY(-5px);
    background-color: #CE162E;
    color:white;
    border-color:#CE162E;
}
/** button end **/


/** header **/
header {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;

}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}
li a {
text-decoration: none;
}

li {
list-style-type: none;
}
/** header end **/


/** menu bar **/
#logo img {
width: 150px;
margin-top: 10px;
margin-left: 25px;
padding:0;
}

#top-nav {
position: absolute;
display: none;
text-align: center;
right: 0;
top: 90px;
z-index: 100;
border: solid 1px black;
background-color: #335fffaa;
}

#top-nav a {
text-decoration: none;
color: white;
}

#top-nav a:hover {
background-color: #CE162E;
color: white;
}


.material-symbols-outlined {
float: right;
cursor: pointer;

}

#top-nav ul {
font-size: 1.2em;
}

#top-nav ul a {
 display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  border: solid 1px black;

}

#top-nav input {
display: block;
margin: 10px 5px;
}

#top-nav ul img {
  height: 40px;   /* good nav icon size */
  width: auto;
  display: block;
  padding:0;
  margin-left:5px;
  padding-top:-3px;
}

#top-nav ul li:last-child a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** menu bar end **/

/**menu Icon**/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: #CE162E;
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background-color: #CE162E;
}

/**menu Icon end**/


/**roblox background**/
.roblox_background{
  background:
            url("images/robloxbackground.jpg") no-repeat center/cover;

  padding:1.5em;
}

.roblox_background h1{
  color:#CE162E;
  margin-bottom:2em;
  margin-top:0.2em;
}

.roblox_background p{
  background-color: #ce162feb;
  padding:2em;
 text-align: center;
 margin:2em;
  border-radius:20px;
  color:white;
}

.roblox_background a{
  text-decoration: underline;
  color:white;
}

.roblox_background a:hover{
  color: #3351ff;
}

/**roblox background end**/

/** blue background**/
.blue_background{
  background:#335FFF;
  padding:1.5em;
}

.blue_background h1{
  color:#ffffff;
  margin-top:0.2em;
  margin-bottom:0;
}
.blue_background p{
  padding-left:2%;
  padding-right:2%;
  color:white;
}
/** blue background end **/


/**about section**/
.about_section{
  padding:1.5em;
}

.about_section h1{
  margin-top:0.2em;
  margin-bottom:0;
}

.about_section p{
  padding-left:5%;
  padding-right:5%;
  color:white;
  text-align: center;
}

#flex2{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
}
#flex2 h3{
  padding-left:0;
  padding-right:0;
  margin:1em;
  font-family: 'Builder Extended', sans-serif;
}
/** about section end **/

/**safety tips container**/
.tips_container{
  border-width:5px;
  border-color:#335FFF;
  border-style:solid;
  padding:1.5em;
  border-radius:20px;
  background-color:white;
  color:black;
  display:block;
  margin-bottom:2em;
}

.tips_container2{
  border-width:5px;
  border-color:#335FFF;
  border-style:solid;
  padding:1.5em;
  border-radius:20px;
  background-color:white;
  color:black;
  display:block !important;
}

.tips_container2 a {
  display: block;
}

.tips_grid img{
max-width: 95%;
height: auto;
margin-top: 15px;
display: block;
margin-left: auto;
margin-right: auto;
}

.tips_container h2{
  color:#335FFF;
  text-align: left;
}

.tips_container2 h2{
  color:#335FFF;
  text-align: center;
}

.tips_container2 a h3{
  text-decoration:underline;
  color:black;
  font-size:1.2rem;
  text-align: center;

}

.tips_container2 a h3:hover{
  color:#CE162E;
}



@media (min-width: 768px) {
 .tips_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}
.tips_container p{
  padding:2em;
}
.tips_container h2{
  padding-left:1.5em;
}
 
.tips_container2 a h3{
  text-decoration:underline;
  color:black;
  font-size:5rem;
  text-align: left;

}

  #subtitle{
  padding-left:4em;
  padding-right:4em;
}

#subtitle2{
  padding-left:20rem;
  padding-right:20rem;
}
  /**top nav**/
  
  .material-symbols-outlined {
    display: none;
  }

  #top-nav {
    display: block !important;
    position: static;
    border: none;
    background-color: transparent;
  }
  
  #top-nav ul {
    display: flex;
    gap: 20px;
    font-size: 1.2em;
  }
  
  #top-nav ul a {
    padding: 15px;
    padding-top:20px;
    padding-bottom:20px;
    border: none;
     display: flex;
  align-items: center;
  justify-content: center;
  }
  
  #top-nav input {
    display: none;
  }
#top-nav a:hover {
color: #CE162E;
background-color: transparent;
}
/** top nav end **/
h1{
    font-size: 7rem}

h2{
    font-size: 2rem;
}

  h3{
    padding-left:20%;
    padding-right:20%;
}

.programs-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 3em;
    }

}