@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Light-300_0.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Regular-400_0.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-SemiBold-600_0.otf) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-Bold-700_0.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Builder Extended';
  src: url(fonts/BuilderExtended/BuilderExtended-ExtraBold-800_0.otf) format('opentype');
  font-weight: 800;
}

html {
scroll-behavior: smooth;
scroll-padding-top: 5rem;
/* Adjust value as needed for your fixed header height */
}


body{
color:white;
    font-family: Helvetica, serif;
font-style: normal;
background: linear-gradient(180deg, #335FFF 0%, #CE162E 100%);
    background-attachment: fixed;
  height: 200vh;
  margin:0;

}

h1 {
  font-family: 'Builder Extended',sans-serif;
  font-weight: 800;
  font-size:4rem;
  text-align:center;
}

#title{
  margin-top: 2rem;
  margin-bottom:0;
}

#subtitle{
  margin-top:0;
  margin-bottom:2rem;
}

h2{
    font-family: 'Builder Extended',sans-serif;
    font-weight: 600;
    font-size:1.5rem;
    text-align:center;
}

h3{
    font-family:Helvetica, sans-serif, arial;
    font-weight: 400;
    text-align:center;
}

#container{
  padding:2em;
}
/** header **/
header {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;

}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
}
li a {
text-decoration: none;
}

li {
list-style-type: none;
}
/** header end **/


/** menu bar **/
#top-nav {
position: absolute;
display: none;
text-align: center;
right: 0;
top: 35px;
z-index: 100;
border: solid 1px black;
background-color: #335fff99;
}

#top-nav a {
text-decoration: none;
color: white;
}

#top-nav a:hover {
background-color: #CE162E;
color: white;
}

.menuwrap:hover #top-nav {
display: block;

}

.material-symbols-outlined {
float: right;
padding-right: 5px;

}

#top-nav ul {
font-size: 1.2em;
}

#top-nav ul a {
 display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: solid 1px black;

}

#top-nav input {
display: block;
margin: 10px 5px;
}

#top-nav ul img {
  height: 40px;   /* good nav icon size */
  width: auto;
  display: block;
  padding:0;
  margin-left:5px;
  padding-top:-3px;
}

#top-nav ul li:last-child a {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** menu bar end **/

/**menu Icon**/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: #CE162E;
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background-color: #CE162E;
}

/**menu Icon end**/

@media (min-width: 768px) {
  /**top nav**/
  
  .material-symbols-outlined {
    display: none;
  }
  .menuwrap:hover #top-nav {
    display: block !important;
  }

  #top-nav {
    display: block !important;
    position: static;
    border: none;
    background-color: transparent;
  }
  
  #top-nav ul {
    display: flex;
    gap: 20px;
    font-size: 1.2em;
  }
  
  #top-nav ul a {
    padding: 15px;
    padding-top:20px;
    padding-bottom:20px;
    border: none;
     display: flex;
  align-items: center;
  justify-content: center;
  }
  
  #top-nav input {
    display: none;
  }

/** top nav end **/
h1{
    font-size: 7rem}

h2{
    font-size: 2rem;
}

  h3{
    padding-left:20%;
    padding-right:20%;
}

}